body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-color: #0cabeb;
    font-family: "Comic Sans MS", sans-serif;
  }
  
  .button-page-container {
    position: relative;
  }
  
  .bottom-corner-image {
    position: absolute;
    bottom: 200;
    right: 20px;
    width: 300px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  .page-title {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    color: #075985;
    text-shadow: 4px 4px 8px #bae6fd;
    letter-spacing: 4px;
    font-weight: bolder;
  }
  
  .page-content {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 24px;
    line-height: 1.5;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    color: #0c4a6e;
    text-align: justify;
  }

  .page-content strong {
    font-weight: bold;
  }
  
  
  
  