@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-image: url("rsc/doraemon.jpg");
    background-color: #2a0505;
    background-size: cover;
    background-position: center;
}

.toggle-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.toggle-options button {
    width: 100px; 
    background-color: #ffffff;
    color: #078bf7;
    padding: 10px 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    font-weight: bold;
}
  
.toggle-options button.active {
    background-color: #ffffff;
    color: #078bf7;
}
  
.toggle-options button:not(.active) {
    background-color: #ffffff;
    color: #078bf7;
}
  
.toggle-options button:hover {
    background-color: #d9d2d4;
}
  