@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-image: url("rsc/doraemon.jpg");
    background-color: #2a0505;
    background-size: cover;
    background-position: center;
}

/* button di header */
.custom-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 30px;
    width: 60px;
    height: 60px;
    margin-right: 20px; /* misahin dari button 2 */
}

.custom-button img {
    width: 100%;
    height: 100%;
}

/* nobita */
.custom-button-2 {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 130px; /* untuk space dari button doraemon */
    width: 60px;
    height: 60px;
}

.custom-button-2 img {
    width: 100%;
    height: 100%;
}

.toggle-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.toggle-options button {
    font-family: "Comic Sans MS", sans-serif;
    width: 100px; 
    background-color: #ffffff;
    color: #056dc2;
    padding: 10px 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    font-weight: bold;
}
  
.toggle-options button.active {
    background-color: #ffffff;
    color: #056dc2;
}
  
.toggle-options button:not(.active) {
    background-color: #ffffff;
    color: #056dc2;
}
  
.toggle-options button:hover {
    background-color: #badfff;
}
