@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-image: url("rsc/doraemon.jpg");
    background-color: #0cabeb;
    background-size: cover;
    background-position: center;
}

/* doraemon */
.custom-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 30px;
    width: 80px;
    height: 80px;
    margin-right: 20px; /* misahin dari button 2 */
}

.custom-button img {
    width: 100%;
    height: 100%;
}

/* nobita */
.custom-button-2 {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 150px; /* untuk space dari button doraemon */
    width: 80px;
    height: 80px;
}

.custom-button-2 img {
    width: 100%;
    height: 100%;
}

/* button color and texture */
.toggle-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.toggle-options button {
    font-family: "Comic Sans MS", sans-serif;
    width: 100px; 
    background-color: #ffffff;
    color: #056dc2;
    padding: 10px 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    font-weight: bold;
}
  
.toggle-options button.active {
    background-color: #293c6f;
    color: #ffffff;
}
  
.toggle-options button:not(.active) {
    background-color: #ffffff;
    color: #056dc2;
}
  
.toggle-options button:hover {
    background-color: #badfff;
}

/* upload reference image */
.ref-img-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 10vh;
  }
  
.ref-img {
    background-color: #078bf7;
    color: #f6f0f0;
    padding: 0.625rem 1.5rem;
    border: none;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    width: 200px;
}

  /* "Upload & Search" button */
  .search-button {
    background-color: #056dc2;
    color: white;
    padding: 0.625rem 1.5rem;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    width: auto;
    text-align: center;
    width: 200px;
  }
  
  .search-button:hover {
    background-color: #1f2d53;
  }

/* dataset */
.custom-file-input-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 10vh;
  }
  
  .custom-file-input {
    background-color: #078bf7;
    color: #f6f0f0;
    padding: 0.625rem 1.5rem;
    border: none;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    width: 300px;
  }
  
  .custom-file-input:hover {
    background-color: #284c85;
  }
  
  input[type="file"] {
    display: none;
  }
  
  /* button style */
  input[type="file"] + label::after {
    content: "Choose a file";
    font-family: 'Comic Sans MS, cursive';
    margin-left: 10px;
    color: white;
    font-weight: bold;
    align-content: center;
  }
  
  /* "Upload & Search" button */
  .upload-search-button {
    background-color: #056dc2;
    color: white;
    padding: 0.625rem 1.5rem;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    width: auto;
    text-align: center;
    width: 200px;
  }
  
  .upload-search-button:hover {
    background-color: #1f2d53;
  }

  /* page */
  body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-color: #0cabeb;
    font-family: "Comic Sans MS", sans-serif;
  }
  
  .button-page-container {
    position: relative;
  }
  
  .bottom-corner-image {
    position: absolute;
    bottom: 200;
    right: 20px;
    width: 300px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  .page-title {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    color: #075985;
    text-shadow: 4px 4px 8px #bae6fd;
    letter-spacing: 4px;
    font-weight: bolder;
  }
  
  .page-content {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 24px;
    line-height: 1.5;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    color: #0c4a6e;
    text-align: justify;
  }

  .page-content strong {
    font-weight: bold;
  }
  
  /* try again? */

  .try-again-button {
    transition: #1f2d53 0.8s ease;
  }
  
  .try-again-button:hover {
    background-color: #1f2d53;
    color:#ffffff;
  }
  
  
  /* back */
  .back-button {
    background-color: #0c4a6e;;
    color: #fff; 
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    margin-top: 25px; 
    margin-left: 40px; 
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }

   /* back to doraemon*/
   .back-dora-button {
    background-color: #0c4a6e;;
    color: #fff; 
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    margin-top: 25px; 
    margin-left: 20px; 
  }
  
  .back-dora-button:hover {
    background-color: #0056b3;
  }