@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-image: url("rsc/doraemon.jpg");
    background-color: #0cabeb;
    background-size: cover;
    background-position: center;
}

/* doraemon */
.custom-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 30px;
    width: 80px;
    height: 80px;
    margin-right: 20px; /* misahin dari button 2 */
}

.custom-button img {
    width: 100%;
    height: 100%;
}

/* nobita */
.custom-button-2 {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 150px; /* untuk space dari button doraemon */
    width: 80px;
    height: 80px;
}

.custom-button-2 img {
    width: 100%;
    height: 100%;
}

/* button color and texture */
.toggle-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.toggle-options button {
    font-family: "Comic Sans MS", sans-serif;
    width: 100px; 
    background-color: #ffffff;
    color: #056dc2;
    padding: 10px 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    font-weight: bold;
}
  
.toggle-options button.active {
    background-color: #ffffff;
    color: #056dc2;
}
  
.toggle-options button:not(.active) {
    background-color: #ffffff;
    color: #056dc2;
}
  
.toggle-options button:hover {
    background-color: #badfff;
}

/* upload reference image */
.ref-img-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 10vh;
  }
  
.ref-img {
    background-color: #078bf7;
    color: #f6f0f0;
    padding: 0.625rem 1.5rem;
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    width: 200px;
}